<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/store.css'%}">
</head>

<body>
    <section class="header">
        <nav>
            <a href="http://127.0.0.1:8000/"><svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" fill="white"
                    class="bi bi-shop" viewBox="0 0 16 16">
                    <path
                        d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zM4 15h3v-5H4v5zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3zm3 0h-2v3h2v-3z" />
                </svg>
                <!--<img src="{% static 'images/image.jpg' %}">-->
            </a>
            <div class="nav-links">
                <ul>
                    {% if user.is_authenticated %}
                    <li>Hi {{ user.username }} </li>
                    {% endif %}
                    <li><a href="http://127.0.0.1:8000/cart/">My Cart({{cartItems}})</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </div>
        </nav>
    </section>

    <div class="row">
        <div class="col-lg-6">
            <div class="box-element" id="form-wrapper">
                <form id="form">
                    {% csrf_token %}
                    <p>Shipping Information:</p>
                    <hr>
                    <div id="user-info">
                        <div class="form-field">
                            <input required class="form-control" type="text" name="name" placeholder="Full Name">
                        </div>
                        <div class="form-field">
                            <input required class="form-control" type="email" name="email" placeholder="Email">
                        </div>
                    </div>

                    <div id="shipping-info">

                        <div class="form-field">
                            <input class="form-control" type="text" name="address" placeholder="Address">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="city" placeholder="City">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="state" placeholder="State">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="zipcode" placeholder="Zip code">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="number" name="phone" placeholder="Phone number">
                        </div>
                    </div>

                    <hr>
                    <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
                </form>
            </div>

            <br>
            <div class="box-element hidden" id="payment-info">
                <small>Payment Options</small>
                <!--For RazorPay Integration-->
                <form action="" method="POST">
                    
                    <script src="https://checkout.razorpay.com/v1/checkout.js"
                    
                    data-key="rzp_test_PYOtJ86UENY04m"
                    data-amount="50000" data-currency="INR" 
                    data-order_id="{{payment.id}}"
                    data-buttontext="Pay with Razorpay" 
                    data-name="E-Store" 
                    data-description="E-Commerce"
                    data-image="http://www.w3.org/2000/svg" 
                    data-prefill.name="Prachi"
                    data-prefill.email="gaurav.kumar@example.com" 
                    data-theme.color="#F37254">
                    </script>
                    {% csrf_token %}
                    <input type="hidden" custom="Hidden Element" name="hidden" id="hidden">
                </form>

            </div>

        </div>

        <div class="col-lg-6">
            <div class="box-element">
                <a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
                <hr>
                <h3>Order Summary</h3>
                <hr>
                {% for item in items %}
                <div class="cart-row">
                    <div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
                    <div style="flex:2">
                        <p>{{item.product.prodname}}</p>
                    </div>
                    <div style="flex:1">
                        <p>Rs.{{item.product.price|floatformat:2}}</p>
                    </div>
                    <div style="flex:1">
                        <p>x{{item.quantity}}</p>
                    </div>
                </div>
                {% endfor %}
                <br>
                <h5>Items: {{order.get_cart_items}}</h5>
                <br>
                <h5>Total: Rs. {{order.get_cart_total|floatformat:2}}</h5>
            </div>
        </div>
    </div>



    <!----Inline Javascript-->
    <script type="text/javascript">
        var shipping = '{{order.shipping}}'
        var total = '{{order.get_cart_total|floatformat:2}}'

        var form = document.getElementById('form')
        csrftoken = form.getElementsByTagName("input")[0].value
        console.log('Newtoken:', form.getElementsByTagName("input")[0].value)
        form.addEventListener('submit', function (e) {
            e.preventDefault()
            submitFormData()
            console.log('Form Submitted...')
            document.getElementById('form-button').classList.add("hidden");
            document.getElementById('payment-info').classList.remove("hidden");
        })

        
        

        function submitFormData() {
            console.log('Payment button clicked')

            var userFormData = {
                'name': null,
                'email': null,
                'total': total,
            }

            var shippingInfo = {
                'address': null,
                'city': null,
                'state': null,
                'zipcode': null,
                'phone': null,
            }

            if (shipping != 'False') {
                shippingInfo.address = form.address.value
                shippingInfo.city = form.city.value
                shippingInfo.state = form.state.value
                shippingInfo.zipcode = form.zipcode.value
                shippingInfo.phone = form.phone.value
            }


            console.log('Shipping Info:', shippingInfo)
            console.log('User Info:', userFormData)

            var url = "/process_order/"
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'applicaiton/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({ 'form': userFormData, 'shipping': shippingInfo }),

            })
                .then((response) => response.json())
                .then((data) => {
                    console.log('Success:', data);
                    /*document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"*/
                    window.location.href = "{% url 'success' %}"

                })
        }
    </script>


</body>

</html>